@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: 111, 97, 192;
  --brand-primary-light: 160, 132, 232;
  --brand-secondary: 139, 232, 229;
  --brand-secondary-light: 213, 255, 228;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
 
}

.brand-primary {
  color: rgb(var(--brand-primary))
}
.brand-primary-light {
  color: rgb(var(--brand-primary-light))
}
.brand-secondary {
  color: rgb(var(--brand-secondary))
}
.brand-secondary-light {
  color: rgb(var(--brand-secondary-light))
}

.borderBGPrimary {
  border-color: rgb(var(--brand-primary))
}